<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>pkdb_pokedex</string>
	<key>connections</key>
	<dict>
		<key>2882CE00-52E0-4A3D-AB78-7B0D5E82CFAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9274C9EC-1949-4B87-8D3B-FB92C1305640</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Xac Stegner</string>
	<key>description</key>
	<string>Open Pokemondb.net with a specific pokemon's pokedex information</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pokemondb Pokedex</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>dex</string>
				<key>runningsubtext</key>
				<string>Searching Pokémon</string>
				<key>script</key>
				<string>/usr/bin/ruby ./alfredex.rb {query}</string>
				<key>subtext</key>
				<string>Enter a Pokémon's name or number</string>
				<key>title</key>
				<string>Search Pokédex</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2882CE00-52E0-4A3D-AB78-7B0D5E82CFAA</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>ruby -e '"{query}".split(",").each{|p| `open http://www.pokemondb.net/pokedex/#{p}` }'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9274C9EC-1949-4B87-8D3B-FB92C1305640</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2882CE00-52E0-4A3D-AB78-7B0D5E82CFAA</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>9274C9EC-1949-4B87-8D3B-FB92C1305640</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
